@using Otel.MVC.Models.Entity
@model List<Otel>
<div>
    <br />
    <br />
    Bu Sayfada Avrupada Tatil Yapmak İçin En Uygun Olan Otellerin Derlemesini Sizler İçin Bir Araya Getirdik.
    <br />
    <br />
    <img src="~/Models/Entity/desktop-wallpaper-7-summer-summer-break.jpg" />
    <img src="~/Models/Entity/rBVaVl6ZBQCAW8LfACI_jhZbZpo057.jpg" />
</div>
<br />
<br />
<br />
<br />

















@foreach (var x in Model)
{
    <div style="color:black; font-size:medium;">@x.OtelID.@x.OtelAdi</div>
    <br />
    <td><img src="@Url.Content(x.OtelResım)" width="800" height="500" alt="Otel Resmi" /></td>
    <br />
    <br />
    <div style="border: 5px solid #000; padding:3px; background-color:lightblue;">
        @{
            string aciklama = x.Aciklama;
            string kisaltilmisAciklama = aciklama.Length > 195 ? aciklama.Substring(0, 195) : aciklama;
        }
        @kisaltilmisAciklama
        @if (aciklama.Length > 195)
        {

            <a href="@Url.Action("About", "Home")">Devamını Oku</a>

        }
    </div>

    <br />

}



