@model Otel.MVC.Models.Entity.Otel11Set

@{
    ViewBag.Title = "YeniOtel";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Yeni Otel Ekleme</h2>
<br />

<form class="form-group" method="post">
    <div>
        <br />

        <label>Otel Adı</label>
        @Html.TextBoxFor(model => model.OtelAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OtelAdi, "", new { @style = "color:red" })
        <br />

    </div>
    <button class="btn btn-primary">Otel ekle</button>
</form>
